@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Example using Tailwind */
.navigation-buttons {
  @apply flex justify-between items-center py-4;
}

.navigation-buttons button {
  @apply bg-gray-200 text-black py-2 px-4 rounded-lg;
}

.navigation-buttons a {
  @apply bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg;
}

.navigation-buttons button:disabled {
  @apply cursor-not-allowed opacity-50;
}
